/* This design was inspired by this logo: https://logopond.com/Flip/showcase/detail/276630
Photos used (free use): 
https://www.pexels.com/photo/flower-designed-latte-159090/
https://www.pexels.com/photo/pile-of-coffee-bean-164622/
https://www.pexels.com/photo/artistic-beverage-breakfast-bright-207273/
https://www.pexels.com/photo/appetizer-bacon-baked-baking-263070/
https://www.pexels.com/photo/restaurant-beans-coffee-morning-2065/

*/

@import url('https://fonts.googleapis.com/css?family=Cherry+Swash|Delius+Unicase|Fascinate+Inline|Nixie+One');
/* font-family: 'Nixie One', cursive;
font-family: 'Cherry Swash', cursive;
font-family: 'Delius Unicase', cursive;
font-family: 'Fascinate Inline', cursive; */

/*Content font */
@import url('https://fonts.googleapis.com/css?family=Questrial');
/*Heading font */
@import url('https://fonts.googleapis.com/css?family=Chelsea+Market');
/* Main Styles */
body {
    background-color: #333;
    font-family: 'Questrial', sans-serif; 
}

header {
    width:100%;
    background-color: #111;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Chelsea Market', cursive;
}
.card {
    border: none;
}
/* Header Styles */
ul#social {
    list-style: none;
}
ul#social li a {
    color: orange;
}
h1 {
    font-family: 'Cherry Swash', cursive;
    text-align: center;
    padding-top: 1em;
    font-size: 50px;
    color: #fff;
}
ul#mainNav {
    padding-bottom: 1.3em;
}
ul#mainNav li {
    border-right: 1px solid darkorange;
    font-size: 1.2em;
    
}
ul#mainNav li a {
    color: #fff;
}
ul#mainNav li a:hover {
    animation-name: linkColour;
    animation-duration: 3s;
}
ul#mainNav li:last-of-type {
    border: none;
}
@keyframes linkColour {
    0% {color: #fff;}
    50% {color: darkorange;}
    100% {color: #fff;}
}
/* First Content Section */
#section1 {
    background-color: #333;
    padding: 2em;
    color: #fff;
    border: 1px solid darkorange;
    margin-top: 2em;
    margin-bottom: 2em;
}
.card a {
    color: #fff;
}
.card a:hover {
    color: #FFD493;
}
/* Second Content Section */
#section2 {
    background-color: #fff;
    color: #333;
    padding-top: 2em;
    padding-bottom: 2em;
    margin-top: 2em;
    margin-bottom: 2em;
    border-radius: 25px;
}
/* Third Content Section */
#section3 {
    padding: 1em;
    margin-top: 3em;
    margin-bottom: 3em;
    color: #fff;
    border: 1px solid darkorange;
    line-height: 1.6em;
}
img#heritageImg {
    padding-top: 1em;
    padding-bottom: 1em;
}
/* Back to Top Button */
button#topBtn {
    display: none;
    position: fixed;
    background-color: rgba(255, 132, 0, 0.75);
    color: #fff;
    border: none;
    border-radius: 75px;
    font-size: 2em;
    padding: 8px 20px;
    bottom: 20px;
    right: 40px;
    z-index: 99;
}

/* Footer Styles */
footer {
    background-color: #111;
    height: 100%;
    padding: 1em;
    text-align: center;
    color: #fff;
}